<%- include('layout/navbar') %>
<h1>Albums</h1>

<% albums.forEach((album) => { %>
   <div class = "item row">
     <div class = "picture"></div>
     <div class = "column">
       <a href = "/albums/<%=album.id%>">
       <h2><%= album.title %></h2></a>
       <a href = "/artist/<%=album.artist_id%>"><h3><%= album.artist_id%><h3></a>
        <p>song count</p>
     </div>
   </div>
<% }) %>
