  <%- include('layout/navbar') %>
  <h1><%= album.title %></h1>
  <a href = "/artist/<%=album.artist_id%>">
    <h2><%=artist%></h2></a>
  <h3><%= album.year %></h3>

  <div class = "row">
    <p>track #</p>
    <p>song title</p>
    <p>song length</p>
  </div>

  <% songs.map((song) => { %>
    <div class = "item row">
      <h3><%= song.track_no%></h3>
      <h2><%= song.title %></h2>
      <% if(Math.floor(song.duration / 60) < 10){ %>
        <h3>0<%= Math.floor(song.duration / 60) %>
      <% } else{%>
        <h3>:<%= Math.floor(song.duration / 60) %>
      <% } %>

      <% if(song.duration%60 < 10){ %>
        : 0<%=song.duration % 60%></h3>
      <% } else{%>
        : <%=song.duration % 60%></h3>
      <% } %>
        </div>
    </div>
  <% }) %>
