<%- include('layout/navbar') %>
<h1><%= artist.name %></h1>
<h2>Genre: <%= artist.genre %></h2>
<p>Albums: <%= albums.length%></p>

<% albums.forEach((album, i) => { %>
  <div class = "item row">
    <img src="<%= albums[i].id %>.jpg" class="pictureSize"/>
    <p>??? "<%= albums[i].id %>.jpg"</p>
    <div class = "column">
      <a href = "/albums/<%=album.id%>">
        <h2><%= album.title%> </h2>
      </a>
      <p><%= album.year %></p>
      <p>tracks: <%= songs[i].length %></p>
    </div>
  </div>
<% }) %>
