<%- include('layout/navbar') %>
<h1><%= artist.name %><h1>
<h2>Genre: <%= artist.genre %></h2>

<% albums.forEach((album) => { %>
  <div class = "item row">
    <div class = "picture"></div>
    <div class = "column">
       <a href = "/albums/<%=album.id%>"><h2><%= album.title%> </h2></a>
       <p><%= album.year %></p>
    </div>
  </div>
<% }) %>
