<%- include('partials/navbar') %>
  <h1>Artists</h1>

  <% artists.forEach( (artist, i) => { %>
  <div class = "item row">
    <div class = "picture"></div>
    <div class = "column">
      <a href = "/artist/<%=artist.id%>">
        <h2><%= artist.name %></h2>
      </a>
      <div class = "row">
        <p>Albums: <%= albums[i].length %></p>
        <p>Genre: <%= artist.genre %></p>
      </div>
    </div>
  </div>
<% }) %>
