<%- include('layout/navbar') %>
<h1>Songs</h1>

<% songs.forEach((song) => { %>

<div class = "row songRow">
  <h2><%= song.title %></h2>
  <p>Artist</p>
  <p>Album</p>

  <% if(Math.floor(song.duration / 60) < 10){ %>
    <h3>0<%= Math.floor(song.duration / 60) %>
  <% } else{%>
    <h3>:<%= Math.floor(song.duration / 60) %>
  <% } %>

  <% if(song.duration%60 < 10){ %>
    : 0<%=song.duration % 60%></h3>
  <% } else{%>
    : <%=song.duration % 60%></h3>
  <% } %>
    </div>

<% }) %>
